{% load static %}
<html>
  <head>
    <title>Add a Map using HTML</title>
  </head>
  <body>
    <div id="map" style="height: 100%;z-index: 100;">
    </div>
    <!-- TODO -->
    <button style="position:absolute;z-index: 1000; top:10px;">ELo</button>
    {{ bikes|json_script:"bikes-json" }}
    <script src="{% static 'bike_map/script.js' %}"></script>
    <script>
      let bikes = JSON.parse(document.getElementById("bikes-json").textContent)
      initMap(bikes);
    </script>
  </body>
</html>