{% load static %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sociale</title>
    <link rel="stylesheet" href="{% static 'base/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aleo&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:400,800&amp;display=swap">
    <link rel="stylesheet" href="{% static 'base/assets/css/Navbar-With-Button-icons.css' %}">
    <link rel="stylesheet" href="{% static 'base/assets/css/styles.css' %}">
</head>
{% block content %}
{% endblock %}
</html>