{% extends 'base/core.html' %}
{% block content %}
<body>
    <section class="position-relative py-4 py-xl-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h2 class="pb-2" style="font-family: Inter, sans-serif;font-weight: bold;color: #fc6701;"> Reset </h2>
                            <form class="text-center" method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    {{ form.email }}
                                    {{ form.email.errors }}
                                </div>

                                {% if form.non_field_errors %}
                                <div class="mb-3">
                                    {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                
                                <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background: #fc6701; border-color: #fc6701;">Reset</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}