{% extends 'base/core.html' %}
{% block content %}
<body>
    <section class="position-relative py-4 py-xl-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card mb-5">
                        <div class="card-body d-flex flex-column align-items-center">
                            <h2 style="color: #fc6701;font-weight: bold;font-family: Inter, sans-serif;">Sign In</h2>
                            <form class="text-center" method="post">
                                {% csrf_token %}
                                
                                <div class="mb-3">
                                    {{ form.username }}
                                {% for error in form.username.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                                </div>
                                <div class="mb-3">
                                    {{ form.email }}
                                    {% for error in form.email.errors %}
                                    <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="mb-3">
                                    {{ form.password1 }}
                                    {% for error in form.password1.errors %}
                                    <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="mb-3">
                                    {{ form.password2 }}
                                    {% for error in form.password2.errors %}
                                    <p>{{ error }}</p>
                                    {% endfor %}
                                </div>

                                {% if form.non_field_errors %}
                                <div class="mb-3">
                                    {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                                {% endif %}

                                <div class="mb-3">
                                    <button class="btn btn-primary d-block w-100" type="submit" style="background: #fc6701;">Register Account</button>
                                </div>
                                <a class="text-muted" style="text-decoration: none;"href="{% url 'login' %}">Already have an account?</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}